h3.Story-Title {
  margin: 10px 0;
}

.image-container {
  padding: 0;
  max-height: 300px;
}

.inner-image {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
}